# 번역할 언어 코드
LANG_CODE=KR

OPENAI_API_KEY=.env 파일에서 기본값을을 변경 해주세요.
GOOGLE_API_KEY=.env 파일에서 기본값을을 변경 해주세요.
GROK_API_KEY=.env 파일에서 기본값을을 변경 해주세요.
OLLAMA_API_KEY=.env 파일에서 기본값을을 변경 해주세요.
ANTHROPIC_API_KEY=.env 파일에서 기본값을을 변경 해주세요.